$black: #000000;
$white: #ffffff;
$grey: #F4F6F7;
$dark_grey: #ddd;
$darker_grey: darkgrey;

//Brand Colors
$primary_yellow: #FEEA00;

// TEXT COLOURS
$heading-primary: $primary_yellow;
$heading-secondary: $black;
$main-body: $black;

// GLOBALS
$small-mobile-width: 480px;
$mobile-width: 750px;
$tablet-width: 1024px;
$desktop-width: 1240px;


//mixins
@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$tablet-width + 1}) {
    @content;
  }
}
