@import "../../styles/variables";
.listItem {
  margin: 10px 0;
  border: 1px solid $dark_grey;
  background: $white;
  padding: 20px;
}

.listItemHeader {
  display: grid;
  margin-bottom: 20px;
  text-align: left;
  @include tablet-desktop {
    grid-auto-flow: column;
    justify-content: space-between;
  }
}

.listItemTitle {
  font-size: 20px;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: left;
}

.listItemInvested {
  color: green;
}

.listItemContent {
  display: grid;
  grid-gap: 20px;
  @include tablet-desktop {
    grid-auto-flow: column;
    justify-content: space-between;
  }
  .listItemDetails {
    text-align: left;
    color: $darker_grey;
  }
  .listItemDetailProp {
    margin-right: 10px;
    text-transform: capitalize;
  }
}
